@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        font-feature-settings: normal;
        font-variation-settings: normal;
        @apply h-full scroll-smooth bg-white antialiased;
    }

  [data-reveal], .load-hidden {
        visibility: hidden;
    }

    body {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        overflow-x: hidden;
      width: 100vw;
    }

    .contained {
        @apply mx-auto md:max-w-2xl lg:max-w-7xl px-4 md:px-8 lg:px-0;
    }

    .section {
        @apply relative py-8 md:py-12 lg:py-24;
    }

    .font-dm {
        font-family: 'DM Serif Display', sans-serif;
    }

    .h2 {
        @apply font-semibold text-2xl lg:text-5xl mb-2.5 lg:mb-4 !leading-tight;
    }

    .h2 span {
        font-family: 'DM Serif Display', sans-serif;
        @apply text-accent-500 italic;
    }

    .header {
        @apply py-6 transition-all ease-app-in duration-300;
    }

    .header-sticky {
        @apply py-4 bg-white fixed top-0 left-0 right-0 z-50 shadow-lg;
    }

    .navbar {
        @apply px-4 sm:px-6 lg:px-8;
    }

    .navbar nav {
        @apply relative z-50 flex items-center justify-between;
    }

    .navbar-brand {
        @apply h-8 lg:h-10 w-auto;
    }

    .navbar-nav {
        @apply hidden lg:flex items-center gap-x-6;
    }

    .nav-link {
        @apply inline-block font-medium rounded-lg px-2 py-1 text-slate-700;
    }

    .nav-link-main {
        position: relative;
        @apply inline-flex items-center justify-center rounded-full py-2 px-4 font-medium transition-colors duration-300 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-accent-500 text-white hover:text-slate-100 hover:bg-accent-500/90 active:bg-accent-700 active:text-white ;
    }

    .navlink-mobile-main {
        @apply inline-flex items-center justify-center rounded-full py-1.5 px-3 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-accent-500 text-white;
    }

    .animated-button {
        @apply relative px-4 lg:px-8;
    }

    .animated-button span {
        transform: translateX(0);
        transition: opacity .45s cubic-bezier(.25,1,.33,1), transform .45s cubic-bezier(.25,1,.33,1);
        @apply left-0 relative inline-block;
    }

    .animated-button svg {
        transform: translate3d(-15px, -50%, 0);
        opacity: 0;
        transition: all .45s cubic-bezier(.25,1,.33,1);
        @apply hidden lg:inline-block absolute w-[18px] h-[18px] top-[50%] right-[10px];
    }

    .animated-button:hover span {
        transform: translateX(-10px);
    }

    .animated-button:hover svg {
        opacity: 1;
        transform: translate3d(-5px, -50%, 0);
    }

    .hero-cta {
        @apply flex w-full lg:w-auto lg:inline-flex items-center justify-center rounded-full py-1.5 md:py-2.5 px-4 lg:py-3 lg:px-8 font-semibold transition-colors duration-300 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-accent-500 text-white hover:bg-accent-500/90 hover:text-slate-100 active:bg-accent-700  active:text-slate-300 focus-visible:outline-accent-700;
    }

    .hero-cta.outlined {
        @apply bg-white  border border-accent-500 text-accent-500 hover:bg-accent-500 hover:text-white;
    }

    .hero-cta.outlined:hover svg {
        @apply fill-white;
    }

    .zoom-image-container {
        @apply overflow-hidden rounded-xl cursor-pointer;
    }

    .zoom-image-container img {
        @apply transition-transform duration-300;
    }

    .zoom-image-container:hover img {
      @apply scale-x-100 lg:scale-125;
    }
}
